<!DOCTYPE html>
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Hi!
    %link{ rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css', media: 'all' }
  %body
    %p Built on Sinatra
    %p= development?
